* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    color: white;
}

nav li {
    color: azure;
}

nav li a {
    color: beige;
}

#main-menu {
    width: 100%;
    background-color: #333;
    padding: 5px;
    margin: 5px, 10px;
    text-align: center;
}

#main-menu .fa-brands {
    letter-spacing: 2px;
    position: left;
}

#main-menu li {
    color: white;
    display: inline-block;
    margin: 15px, 15px;
    padding: 10px;
    top: 0;
    font-size: 100;
    text-decoration: none;

}

#main-menu li a {
    padding: 15px;
    text-decoration: none;
    font-size: 150%;

}

#main-menu li a:hover {
    font-size: 100;

}

#main-menu li {
    position: relative;
    left: 0;
    top: 0;
}

video {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

i.fa-brands {
    font-size: 25px;
    color: red;
}

#image {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
}
#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#image .space-X{
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.space-X p{
    color: aqua;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.space-X a{
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: blueviolet;
    text-decoration: none;
    border: 1px solid silver;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
}

.space-X a:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

.page2 {
    background: url('CSTU-MARCH-ROCKET.jpg')no-repeat center center;
    background-size: cover;
    text-align: center;
    background-size: cover;
    height: 1000px;
    color: aquamarine;
}
