body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Style */
#header_area {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Main Menu Style */
#main_menu {
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    background-color: #007bff;
}

#main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

#main_menu ul li {
    display: inline;
}

#main_menu ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* Content Section */
#content {
    padding: 10px;
    display: flex;
    margin: 20px;
}

#main_content {
    flex: 2;
    margin-right: 10px;
}

.child_content {
    margin-bottom: 20px;
}

.child_content img {
    width: 100%;
    border-radius: 3px;
}

.child_content h2 a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
}

.child_content p {
    color: #555;
    font-size: 10px;
}

/* Sidebar Section */
#main_sidebar {
    flex: 1;
}

.child_sidebar img {
    width: 90%;
    border-radius: 5px;
}

.child_sidebar h3 a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

/* Footer Style */


#footer_area svg {
    width: 150px; /* Adjust width */
    height: auto;
}


/* Header Style */
#header_area {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Main Menu Style */
#main_menu {
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    background-color: #007bff;
}

#main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

#main_menu ul li {
    display: inline;
}

#main_menu ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

/* Content Section */
#content {
    padding: 10px;
    display: flex;
    margin: 20px;
}

#main_content {
    flex: 2;
    margin-right: 10px;
}

.child_content {
    margin-bottom: 20px;
}

.child_content img {
    width: 100%;
    border-radius: 3px;
}

.child_content h2 a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
}

.child_content p {
    color: #555;
    font-size: 10px;
}

/* Sidebar Section */
#main_sidebar {
    flex: 1;
}

.child_sidebar img {
    width: 90%;
    border-radius: 5px;
}

.child_sidebar h3 a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

/* Footer Style */


#footer_area svg {
    width: 150px; /* Adjust width */
    height: auto;
}

